In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns

In [2]:
%matplotlib inline
import matplotlib as mpl 
import matplotlib.pyplot as plt
from matplotlib import pyplot

In [3]:
FAAC_2020 = pd.read_csv("FAAC_2020.csv")
FAAC_2020.head()

,S/N,STATE,JANUARY/FEBRUARY,MARCH,APRIL,MAY,JUNE,JULY,AUGUST,SEPTEMBER,OCTOBER
0,1,ABIA STATE,"2,646,920,171.91","2,363,484,965.50","2,688,879,057.67","2,490,155,557.95","2,250,421,953.64","2,734,858,403.97","2,810,930,838.85","2,773,895,904.92","2,596,618,258.00"
1,2,ADAMAWA STATE,"3,299,781,554.96","2,951,196,566.48","3,342,944,259.17","3,107,031,846.25","2,806,790,552.69","3,422,409,363.09","3,521,173,688.96","3,469,056,744.78","3,245,543,005.69"
2,3,AKWA IBOW STATE,"4,480,229,192.48","3,975,088,678.98","4,519,596,452.26","4,184,880,668.81","3,771,090,719.11","4,587,373,302.17","4,717,716,604.96","4,642,221,805.22","4,341,768,102.11"
3,4,ANAMBRA STSTE,"3,379,305,620.03","3,034,416,217.10","3,445,664,111.72","3,197,689,890.10","2,894,086,980.15","3,506,918,152.00","3,652,901,345.71","3,619,022,329.96","3,405,984,445.33"
4,5,BAUCHI STATE,"3,738,855,319.19","3,353,442,557.49","3,804,630,021.21","3,537,197,521.60","3,188,040,146.21","3,878,092,965.14","3,983,143,760.43","3,943,155,665.91","3,704,418,262.37"

In [9]:
FAAC_2020.dtypes

S/N                  int64
STATE               object
JANUARY/FEBRUARY    object
MARCH               object
APRIL               object
MAY                 object
JUNE                object
JULY                object
AUGUST              object
SEPTEMBER           object
OCTOBER             object
dtype: object